### IDE ###
## PhpStorm / IntelliJ IDEA ##
.idea/
## VS Code ##
.vscode/*
!.vscode/extensions.json

### WordPress ###
## I18n
/languages/*.mo

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
